.DS_Store
node_modules
/dist


# local env files
.env
.env.*.local
/home/gabriel/Acari_Tex/acari_tex/src/firebase.js
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
Axios.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
